.logo {
    width: 150px;
    height: 150px;
    display: flex;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid orangered;
}
.logo > img {
    width: 100%;
}


